@page
@model DevChatter.DevStreams.Web.Pages.Manage.IndexModel
@{
    ViewData["Title"] = "Management Dashboard";
}

<h2>Management Dashboard</h2>

<p>Pretend there's useful info on this page, because it's clearly a dashboard of some kind.</p>

<h3>Important Links</h3>
<ul>
    <li><a asp-page="Tags/Index">Manage Tags</a></li>
</ul>

