<ul class="nav navbar-nav navbar-right">
    <select id="themeSelector" class="form-control form-control-sm text-muted">
	    <option value="default">Default</option>
	    <option value="darkly">Darkly</option>
	    <option value="slate">Slate</option>
    </select>
</ul>

<script>
	(function () {
		'use strict';

		function readCookie(name) {
			var value = "; " + document.cookie;
			var parts = value.split("; " + name + "=");

			if (parts.length === 2) {
                return parts.pop().split(";").shift();
            }
		}

		var cookieName = "DevChatter.DevStreams.Theming";
		var defaultTheme = "default";
 	    var theme = readCookie(cookieName);
		
        if (theme === undefined) {
				theme = defaultTheme;
		}

		document.querySelector("#themeSelector").value = theme;
		var selector = document.getElementById("themeSelector");

		selector.addEventListener("change", function (evnt) {
			document.cookie = encodeURIComponent(cookieName) + "=" + encodeURIComponent(evnt.target.value) + 
                ";Max-Age=" + (10 * 365 * 24 * 60 * 60) + 
                " ;SameSite=Strict; Path=/";

			location.reload();
		});
	})();
</script>