<ul class="nav navbar-nav navbar-right">
    <select id="themeSelector" class="theme-select form-control text-muted">
	    <option value="default">Default</option>
	    <option value="darkly">Darkly</option>
	    <option value="slate">Slate</option>
    </select>
</ul>
