@page
@using NodaTime
@model DevChatter.DevStreams.Web.Pages.Streams.Schedule.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ScheduledStream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduledStream.DayOfWeek" class="control-label"></label>
                <select asp-for="ScheduledStream.DayOfWeek" asp-items="Html.GetEnumSelectList<IsoDayOfWeek>()" class="form-control"></select>
                <span asp-validation-for="ScheduledStream.DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledStream.LocalStartTime" class="control-label"></label>
                <input asp-for="ScheduledStream.LocalStartTime" class="form-control" />
                <span asp-validation-for="ScheduledStream.LocalStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledStream.LocalEndTime" class="control-label"></label>
                <input asp-for="ScheduledStream.LocalEndTime" class="form-control" />
                <span asp-validation-for="ScheduledStream.LocalEndTime" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ScheduledStream.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-channelId="@Model.ScheduledStream.Channel.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
