@page
@model DevChatter.DevStreams.Web.Pages.Streams.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Channel</h4>
<hr />
<div id="app" class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Channel.Name" class="control-label"></label>
                <input asp-for="Channel.Name" class="form-control" />
                <span asp-validation-for="Channel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Channel.Uri" class="control-label"></label>
                <input asp-for="Channel.Uri" class="form-control" />
                <span asp-validation-for="Channel.Uri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select asp-items="Model.Countries" id="country" class="form-control"
                        v-model="selectedCountry">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Channel.TimeZoneId" class="control-label"></label>
                <select asp-for="Channel.TimeZoneId" id="timeZone" class="form-control" v-model="selectedTimeZone">
                    <option v-for="option in timeZoneOptions"
                            :value="option.key"
                            :key="option.key">
                        {{ option.value }}
                    </option>
                </select>
                <span asp-validation-for="Channel.TimeZoneId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/vue/streams-create.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
