@page
@model DevChatter.DevStreams.Web.Pages.Streams.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post">
    <select asp-for="TimeZoneId" asp-items="Model.TimeZoneIds">
        <option value="">Choose Location</option>
    </select>

    <input asp-for="LocalTime" type="time" />
    
    <input type="submit" value="click this" />
</form>

<ul>
    @foreach (var item in Model.SuggestedSessions)
    {
        <li>@CreateModel.ZonedDateTimePattern.Format(item)</li>
    }
</ul>
