@page "{id:int}"
@model DevChatter.DevStreams.Web.Pages.Channels.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div id="channelDetails">
    <h2>@Model.Channel.Name<span v-if="isLiveComplete"> - {{liveStatus}}</span></h2>

    <div class="row">
        <div class="col-md-3">
            <h3>Channel Details</h3>
            <p>DevChatter is a stream about foo, bar, coding, other stuff, chatting, etc.</p>
        </div>
        <div class="col-md-5">
            <h3>Something Big Here</h3>
            <p>This could be an embedded video player (not playing, muted by default) or perhaps embedded videos from previous streams?</p>
        </div>
        <div class="col-md-4">
            <h3>Schedule</h3>
            <ul>
                <li>Mondays at 2:00 PM Eastern Time</li>
                <li>Tuesdays at 2:00 PM Eastern Time</li>
                <li>Thursdays at 12:00 PM Eastern Time</li>
                <li>Saturdays at 1:00 PM Eastern Time</li>
            </ul>
        </div>
    </div>

    <input id="twitchId" type="hidden" value="@Model.Channel.TwitchId" />
</div>


@section Scripts {
    <script src="~/js/vue/channels-details.js"></script>
}

