@page
@model DevChatter.DevStreams.Web.Pages.Channels.IndexModel
@{
    ViewData["Title"] = "Find Channels";
}

<h2>Find Channels</h2>

<div id="channelList">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Next Stream</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="channel in channels">
                <td>
                    <a :href="'/Channels/Details/' + channel.id">{{channel.name}}</a>
                </td>
                <td>
                    {{formatTags(channel.tags)}}
                </td>
                <td>
                    {{formatStartTime(channel.nextStream)}}
                </td>
            </tr>

        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/vue/channels-index.js"></script>
}
