@page
@model DevChatter.DevStreams.Web.Pages.Channels.IndexModel
@{
    ViewData["Title"] = "Find Channels";
}

<h2>Find Channels</h2>

<div id="channelList">
    <div>
        <div>
            <label class="control-label" for="ajax">Tags</label>
            <multiselect v-model="searchFilters.selectedTags" id="ajax" label="name"
                         track-by="id" placeholder="" open-direction="bottom"
                         :options="tags" :multiple="true" :searchable="true"
                         :loading="isLoadingTags" :internal-search="false"
                         :clear-on-select="true" :close-on-select="false"
                         :options-limit="300" :limit="5"
                         :max-height="600" :show-no-results="false"
                         v-on:search-change="tagSearch">
                <template slot="tag" slot-scope="{ option, remove }">
                    <span class="multiselect__tag">
                        <span>{{ option.name }}</span>
                        <span class="multiselect__tag-icon" v-on:click="remove(option)"></span>
                    </span>
                </template>
                <template slot="clear" slot-scope="props">
                </template>
                <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
            </multiselect>
            <div class="tag-selection">
                <span v-for="(tag, index) in tags" v-if="showMoreTags || index < 5" class="badge">
                    <a href="#" v-on:click="clickTag(tag)">{{tag.name}} ({{tag.count}})</a>
                </span>
            </div>
            <button v-on:click="showMoreLessTags">{{showMoreTags ? 'Show less...' : 'Show more...'}}</button>
        </div>
    </div>
    <h3>Channels</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Next Stream</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="channel in channels">
                <td>
                    <a :href="'/Channels/Details/' + channel.id">{{channel.name}}</a>
                </td>
                <td>
                    {{formatTags(channel.tags)}}
                </td>
                <td>
                    {{formatStartTime(channel.nextStream)}}
                </td>
            </tr>

        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <script src="~/js/vue/channels-index.js"></script>
}
