@page
@model DevChatter.DevStreams.Web.Pages.Channels.IndexModel
@{
    ViewData["Title"] = "Find Channels";
}

<h2>Find Channels</h2>

<div id="channelList">
    <div>
        <div>
            <label class="control-label" for="ajax">Selected Tags</label>
            <div class="tag-selection">
                <span v-for="(tag, index) in searchFilters.selectedTags" 
                    class="tag-selected btn-success">
                    <span>{{ tag.name }}</span>
                    <span class="tag-remove-icon" v-on:click="clickTag(tag)"></span>
                </span>
                <span v-if="searchFilters.selectedTags.length == 0">None Selected</span>
            </div>
            <label class="control-label">Available Tags</label>
            <div class="tag-selection">
                <span v-for="(tag, index) in availableTags" v-if="showMoreTags || index < 5" class="tag-available">
                    <a href="#" v-on:click="clickTag(tag)">{{tag.name}} ({{tag.count}})</a>
                </span>
            </div>
            <button v-on:click="showMoreLessTags" v-if="availableTags.length > 5">{{showMoreTags ? 'Show less...' : 'Show more...'}}</button>
        </div>
    </div>
    <h3>Channels</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Next Stream</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="channel in channels">
                <td>
                    <a :href="'/Channels/Details/' + channel.id">{{channel.name}}</a>
                </td>
                <td>
                    {{formatTags(channel.tags)}}
                </td>
                <td>
                    {{formatStartTime(channel.nextStream)}}
                </td>
            </tr>

        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <script src="~/js/vue/channels-index.js"></script>
}
