@page
@model DevChatter.DevStreams.Web.Pages.My.Channels.EditModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<h4>Channel</h4>
<hr />
<div id="app" class="row" v-cloak>
    <div class="col-md-4" v-if="model !== null">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input v-model="model.name" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Uri</label>
            <input v-model="model.uri" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Country</label>
            <select asp-items="Model.Countries" id="country" 
                    class="form-control" v-model="model.countryCode">
                <option value="">Select Country</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Time Zone</label>
            <select id="timeZone" class="form-control" v-model="model.timeZoneId">
                <option v-for="option in timeZoneOptions"
                        :value="option.key"
                        :key="option.key">
                    {{ option.value }}
                </option>
            </select>
        </div>

        <div>
        <label class="control-label" for="ajax">Tags</label>
        <multiselect v-model="model.tags" id="ajax" label="name" 
            track-by="id" placeholder="" open-direction="bottom"
            :options="tags" :multiple="true" :searchable="true"
            :loading="isLoadingTags" :internal-search="false"
            :clear-on-select="true" :close-on-select="false"
            :options-limit="300" :limit="3"
            :max-height="600" :show-no-results="false"
            v-on:search-change="tagSearch">
            <template slot="tag" slot-scope="{ option, remove }">
                <span class="multiselect__tag">
                    <span>{{ option.name }}</span>
                    <span class="multiselect__tag-icon" v-on:click="remove(option)"></span>
                </span>
            </template>
            <template slot="clear" slot-scope="props">
            </template>
            <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
        </multiselect>
        </div>
        <input id="channelId" type="hidden" asp-for="ChannelId"/>
        <div class="form-group">
            <input value="Save" class="btn btn-default" 
            v-on:click.prevent="saveChannel" />
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <script src="~/js/vue/edit-channel.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
