@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>About DevStreams</h2>

<h3>Welcome to the DevStreamers Community!</h3>

<p>We are a community of people who like and support developer streams on the Internet. This includes streams, streamers, moderators, chatters, viewers, lurkers, and all other people associated with online live software development activity.</p>

<p>Whether you stream on Twitch, YouTube, Mixer, Facebook, or any other platform, you're welcome here as long as you sometimes stream some kind of software developement-related activity.</p>

<h3>Frequently Asked Questions:</h3>

<p>None asked yet.</p>
