@page
@using Data.ViewModel.Channels
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row" id="mainContent">
    <div class="col-md-3">
        <h2>Live Now</h2>
        <div>
            <div class="channel-card" v-for="liveChannel in liveChannels">
                <div class="channel-card-img">
                    <img :src="getImageOrPlaceholder(liveChannel)" alt="ProfileImage">
                </div>
                <div class="container">
                    <h4><b>{{ liveChannel.channelName }}</b></h4>
                    <ul>
                        <li>
                            Viewers: {{ liveChannel.viewerCount }}
                        </li>
                        <li>
                            Online: {{ humanizeTime(liveChannel.timeOnline) }}
                        </li>
                    </ul>
                    <a :href="liveChannel.uri" class="btn btn-primary">Watch Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h2>DevChatter</h2>
        <div>
            <div v-if="!hasStream && errorMessage.length" class="alert alert-danger">
                {{errorMessage}}
            </div> 
            <button v-on:click="fetchStream" class="btn btn-success">Feeling Lucky</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Newly Added Channels</h2> @*TODO: Show recently added channels.*@
        <ul>
            @foreach (var addedChannel in Model.NewlyAddedChannels)
            {
                <li><a href="@addedChannel.Uri">@addedChannel.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-md-12 text-center">
        <div id="twitch-embed"></div>
    </div>
</div>

@section Scripts{
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    
    <script src="/js/vue/home-page.js"></script>
}
