@page
@using Data.ViewModel.Channels
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row" id="mainContent">
    <div class="col-md-3">
        <h2>Live Now</h2> @*TODO: Show channels that are live right now.*@
        <ul>
            <li v-for="liveChannel, index in liveChannels.channel.slice(0, 10)">
				{{liveChannel[0]}}
				views: {{ liveChannels.viewCount[index] }} 
				Online: {{ liveChannels.timeOnline[index] }}

			</li>
        </ul>
    </div>
    <div class="col-md-5">
        <h2>DevChatter</h2>
        <div>
            <div v-if="!hasStream && errorMessage.length" class="alert alert-danger">
                {{errorMessage}}
            </div> 
            <button v-on:click="fetchStream" class="btn btn-success">Feeling Lucky</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Newly Added Channels</h2> @*TODO: Show recently added channels.*@
        <ul>
            @foreach (var addedChannel in Model.NewlyAddedChannels)
            {
                <li><a href="@addedChannel.Uri">@addedChannel.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-md-12 text-center">
        <div id="twitch-embed"></div>
    </div>
</div>

@section Scripts{
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    
    <script src="/js/vue/home-page.js"></script>
}
