@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-3">
        <h2>Live Now</h2> @*TODO: Show channels that are live right now.*@
        <ul>
            <li><a href="https://www.Twitch.tv/DevChatter">DevChatter</a></li>
            <li><a href="https://www.Twitch.tv/CSharpFritz">CSharpFritz</a></li>
            <li><a href="https://www.Twitch.tv/CodeRushed">CodeRushed</a></li>
            <li><a href="https://www.Twitch.tv/RobertTables">RobertTables</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <h2>DevChatter</h2>
        <div id="luckySearch">
            <div v-if="!hasStream && errorMessage.length" class="alert alert-danger">
                {{errorMessage}}
            </div> 
            <button v-on:click="fetchStream" class="btn btn-success">Feeling Lucky</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Newly Added Channels</h2> @*TODO: Show recently added channels.*@
        <ul>
            <li>CodeBaseAlpha</li>
            <li>Ardalis</li>
            <li>BrandonSatrom</li>
        </ul>
    </div>
    <div class="col-md-12 text-center">
        <div id="twitch-embed"></div>
    </div>
</div>

@section Scripts{
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <script type="text/javascript">
        let app = new Vue({
            el: "#luckySearch",
            data: {
                hasStream: false,
                errorMessage: ''
            },
            methods: {
                fetchStream: function () {
                    axios.get(`?handler=Lucky`)
                        .then(response => {
                            if (response.data.error) {
                                this.errorMessage = response.data.error;
                            }
                            else if (this.hasStream) {
                                var src =
                                    `https://player.twitch.tv/?allowfullscreen&playsinline&player=twitch_everywhere&targetOrigin=https%3A%2F%2Fembed.twitch.tv&channel=${response.data.channelName}&origin=https%3A%2F%2Fembed.twitch.tv`;
                                $('iframe').attr('src', src);
                            }
                            else if (!this.hasStream) {
                                new Twitch.Embed("twitch-embed",
                                    {
                                        width: 854,
                                        height: 480,
                                        channel: response.data.channelName
                                    });
                                this.hasStream = true;
                            }
                        },
                            error => {
                                console.log(error.statusText);
                            });
                }
            }
        });

    </script>
}
