@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<br />

<p>
    Here on Devchatter we are committed to safeguarding, with our Dino<img src="~/images/DinoHype.png" style="max-height: 28px; max-width: 28px;" alt="DinoHypeSquad" />
    Squad, the privacy of our streamers visitors:
</p>
<br />
<h4><strong>Cookies:</strong></h4>
<p>
    A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and
    is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.
    This enables the web server to identify and track the web browser.
</p>

<p>Here we do use 2 types of cookies labeled as "Auth" cookie and "Theme Choice" cookie, as explained below:</p>
<ul>
    <li>The "Auth" cookie keeps you logged in our platform, so you don't need to type your credentials everytime you access this site. </li>
    <li>The "Theme Choice" keeps the info about which theme you have chosen before, so every time in this site, will have already the perfect theme for you.</li>
</ul>
<br />
<p>
    If you still have questions about the matter, join us in our Discord Server <a href="https://discordapp.com/invite/aQry9jG">DevChatter Discord</a>
    and we will gladly answer them.
</p>